/* first_page right_menu */

.right_menu {
  width: 5%;
  min-width: 60px;
  height: 110vh;
  border-radius: 2px;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 1px;
  padding-top: 96px;
  /* background-color: rgba(255, 255, 255, 0.93); */
}

.account {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: url(../img/profile.png);
  background-repeat: no-repeat;
  background-position: center;
 margin-bottom: 25px;
}

.night_light_mode {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: url(../img/brightness_6\ \(2\).svg);
  background-color: rgba(240, 248, 255, 0);
  margin: 0 auto;
  transition: 0.3s ease-in-out;
}
.night_light_mode:hover{
  background-color: none;
}

.text_slide_seven_page {
  font-size: 20px;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  padding-top: 25px;
  margin: 0 auto;
}
.element_menu {
  position: sticky;
  top: 1%;
  left: 0;
  height: 580px;
}
.expand_less {
  margin-top: 580px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: url(../img/expand_less.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.expand_less:hover{
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  transform:scale(1.1);
}

/* Стили для светлой темы */
.light-theme {
  background-color: #ffffff; /* белый фон */
  color: #000000; /* черный цвет текста */
}

/* Стили для темной темы */
.dark-theme {
  color: white !important; /* белый цвет текста */
}

/* Стили для элемента с классом "header" в темной теме */
.dark-theme header {
  background-color:rgba(0, 0, 0, 0.832);
  color: white; /* белый цвет текста для заголовка */
}

/* Стили для элемента с классом "content" в темной теме */
.dark-theme .content {
  background-color:rgba(0, 0, 0, 0.832);
  color: white; /* белый цвет текста для контента */
}

/* Стили для элемента с классом "right" в темной теме */
.dark-theme .right_menu {
  background-color:rgba(0, 0, 0, 0.832);
  color: white; /* белый цвет текста для правой части */
}

/* Стили для элемента с классом "menu" в темной теме */
.dark-theme .menu_menu {
  background-color:rgba(0, 0, 0, 0.832);
  color: white; /* темный цвет фона для меню */
}

.dark-theme .all_items_footer{
  background-color:rgb(0, 0, 0);
  box-shadow:0px 8px 10px rgba(255, 255, 255, 0.93);
  color: white !important;
}
.dark-theme .button-text{
  color: #ffffff !important; 
}
.dark-theme .circle{
  background-color: #ffffff !important; 
}
.dark-theme .button-text:hover{
  color: #000000 !important; 
}
.dark-theme .icon.arrow::before{
  border-top: 0.125rem solid #000000 !important;
  border-right: 0.125rem solid #000000 !important;
}
.dark-theme .button-text-two {
  color: rgb(0, 0, 0) !important;
}
.dark-theme .wrapper{
  background-color:rgb(0, 0, 0);
  box-shadow: 2px -2px 10px  rgba(255, 255, 255, 0.93);;
  color: white;
}
.dark-theme .logo{
  width: auto;
  height: 100px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: cover;
  background-image: url(../img/logo_white_mini.png) ;
}
.dark-theme .logo_footer{
  background-image: url(../img/logo_white_mini.png);
  background-size: cover;
  width: 130px;
  height: 100px;
}
.dark-theme .night_light_mode {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: url(../img/brightness_medium.svg);
  background-color: rgba(240, 248, 255, 0);
  margin: 0 auto;

}
.dark-theme .expand_less {
  background-image: url(../img/expand_less_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgba(240, 248, 255, 0);
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.93);
}

.dark-theme h1{
color: white;
}.dark-theme h2{
  color: white;
}.dark-theme h3{
  color: white;
}.dark-theme p{
  color: white !important; 
}.dark-theme a{
  color: white;
}.dark-theme a:hover{
  color: rgb(157, 20, 20);
}
.dark-theme .headerButton:hover{
  color: rgb(157, 20, 20) !important;
}
.dark-theme button{
  color: black;
}


@property --circle { syntax: '<length>'; initial-value: 0px; inherits: false; }
@property --night { syntax: '<length>'; initial-value: 0px; inherits: false; }
@property --pos-y-ray1 { syntax: '<percentage>'; initial-value: 10%; inherits: false; }
@property --pos-x-ray2 { syntax: '<length>'; initial-value: 1px; inherits: false; }
@property --pos-y-ray2 { syntax: '<length>'; initial-value: 1px; inherits: false; }
@property --pos-x-ray3 { syntax: '<length>'; initial-value: 1px; inherits: false; }
@property --pos-x-ray4 { syntax: '<length>'; initial-value: 1px; inherits: false; }
@property --pos-y-ray4 { syntax: '<length>'; initial-value: 1px; inherits: false; }
@property --pos-y-ray5 { syntax: '<percentage>'; initial-value: 90%; inherits: false; }
@property --pos-x-ray6 { syntax: '<length>'; initial-value: 1px; inherits: false; }
@property --pos-y-ray6 { syntax: '<length>'; initial-value: 1px; inherits: false; }
@property --pos-x-ray7 { syntax: '<length>'; initial-value: 1px; inherits: false; }
@property --pos-x-ray8 { syntax: '<length>'; initial-value: 1px; inherits: false; }
@property --pos-y-ray8 { syntax: '<length>'; initial-value: 1px; inherits: false; }

@property --width-star1 { syntax: '<length>'; initial-value: 0px; inherits: false; }
@property --width-star2 { syntax: '<length>'; initial-value: 0px; inherits: false; }
@property --width-star3 { syntax: '<length>'; initial-value: 0px; inherits: false; }

.toggle {
  transform: rotate(90deg) scale(2);
  --night: 0px;
  --circle: 0.14em;
  --pos-y-ray1: 10%;
  --pos-x-ray2: 0.65em;
  --pos-y-ray2: 0.175em;
  --pos-x-ray3: 0.725em;
  --pos-x-ray4: 0.65em;
  --pos-y-ray4: 0.62em;
  --pos-y-ray5: 90%;
  --pos-x-ray6: 0.225em;
  --pos-y-ray6: 0.62em;
  --pos-x-ray7: 0.125em;
  --pos-x-ray8: 0.225em;
  --pos-y-ray8: 0.175em;
  --width-star1: 0px;
  --width-star2: 0px;
  --width-star3: 0px;
  appearance: none;
  position: relative;
  font-size: 1em;
  width: 2em;
  aspect-ratio: 2;
  border: max(1px, 0.05em) solid;
  border-radius: 2em;
  background:
    /* sun */
    radial-gradient(circle at 0.5em 50%, #0000 var(--circle), #000 0 calc(var(--circle) + 0.045em), #0000 0),
    radial-gradient(70% 50%, #000 99%, #0000) 0.475em var(--pos-y-ray1) / 0.04em 0.15em,
    linear-gradient(-45deg, #0000 38%, #000 0 62%, #0000 0) var(--pos-x-ray2) var(--pos-y-ray2) / 0.12em 0.12em,
    radial-gradient(50% 70%, #000 99%, #0000) var(--pos-x-ray3) 50% / 0.15em 0.04em,
    linear-gradient(45deg, #0000 38%, #000 0 62%, #0000 0) var(--pos-x-ray4) var(--pos-y-ray4) / 0.12em 0.12em,
    radial-gradient(70% 50%, #000 99%, #0000) 0.475em var(--pos-y-ray5) / 0.04em 0.15em,
    linear-gradient(-45deg, #0000 38%, #000 0 62%, #0000 0) var(--pos-x-ray6) var(--pos-y-ray6) / 0.12em 0.12em,
    radial-gradient(50% 70%, #000 99%, #0000) var(--pos-x-ray7) 50% / 0.15em 0.04em,
    linear-gradient(45deg, #0000 38%, #000 0 62%, #0000 0) var(--pos-x-ray8) var(--pos-y-ray8) / 0.12em 0.12em,
    /* moon */
    radial-gradient(farthest-side circle at 40% 50%, #0000 0.3em, #fff 0 0.33em, #0000 0) 95% 50% / 0.7em 0.7em,
    radial-gradient(farthest-side circle at 29% 50%, #0000 0.19em, #fff 0 0.22em, #0000 0) 81% 50% / 0.5em 0.5em,
    radial-gradient(circle at 20% 30%, #fff var(--width-star1), #0000 0),
    radial-gradient(circle at 30% 70%, #fff var(--width-star2), #0000 0),
    radial-gradient(circle at 45% 45%, #fff var(--width-star3), #0000 0),
    /* extra */
    radial-gradient(circle at 0.5em 50%, #000 var(--night), #0000 0)
    ;
  background-repeat: no-repeat;
  transition: 
    --night 0.5s 0.8s, 
    --circle 0.25s 0.7s,
    --pos-y-ray1 0.25s 0s,
    --pos-x-ray2 0.45s 0.1s, --pos-y-ray2 0.45s 0.1s,
    --pos-x-ray3 0.6s 0.2s,
    --pos-x-ray4 0.45s 0.4s, --pos-y-ray4 0.45s 0.4s,
    --pos-y-ray5 0.25s 0.6s,
    --pos-x-ray6 0.45s 0.75s, --pos-y-ray6 0.45s 0.75s,
    --pos-x-ray7 0.25s 0.9s,
    --pos-x-ray8 0.45s 1.1s, --pos-y-ray8 0.45s 1.1s,
    --width-star1 0.5s 1.25s, --width-star2 0.5s 1.3s, --width-star3 0.5s 1.35s
    ;
  transition-delay: 0s, 0.4s, 0.5s, 0.6s, 0.6s, 0.7s, 0.9s, 0.9s, 1.2s, 1.25s, 1.25s, 1.55s, 1.65s, 1.65s, 0s, 0.05s, 0.1s;
  
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    border-radius: 50%;
    border: 0.2em solid #0000;
    transform: translate(-50%, -50%);
  }
  
  &:checked {
    --night: 2em;
    --circle: 0em;
    --pos-y-ray1: -20%;
    --pos-x-ray2: 1.15em;
    --pos-y-ray2: -0.225em;
    --pos-x-ray3: 2em;
    --pos-x-ray4: 1.15em;
    --pos-y-ray4: 1.12em;
    --pos-y-ray5: 120%;
    --pos-x-ray6: -0.275em;
    --pos-y-ray6: 1.12em;
    --pos-x-ray7: -0.25em;
    --pos-x-ray8: -0.275em;
    --pos-y-ray8: -0.225em;
    --width-star1: 0.04em;
    --width-star2: 0.04em;
    --width-star3: 0.04em;
    transition-delay: 1.5s, 1.35s, 0s, 0.1s, 0.1s, 0.2s, 0.4s, 0.4s, 0.6s, 0.75s, 0.75s, 0.9s, 1.1s, 1.1s, 1.7s, 1.9s, 1.8s;
    
    &::before {
      left: 75%;
    }
  }
  
  &[disabled] {
    opacity: 0.25;
  }
}

@media print {
  .toggle {
    &, &::before, &::after {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
}

@media (prefers-reduced-motion) {
  .toggle {
    &, &::before, &::after {
      transition: none !important;
      animation: none !important;
    }
  }
}

.right_menu input:hover{
  color: white;
  border:solid 1px black;
  background-color: rgb(255, 255, 255) ;
} 
.container_menu{
  padding: 25%;
}